<!DOCTYPE html>
<html lang="en">

<head>
    <!-- window -->
    <script>
        window.app = {
            apiBase: "{{api_base}}",
            assetBase: "{{asset_base}}",
            appEnv: "{{app_env}}",
            version: "{{app_version}}",
            segmentWriteKey: "{{segment_write_key}}",
            analyticsEnabled: "{{analytics_enabled}}" === "True",
            monitoringEnabled: "{{monitoring_enabled}}" === "True",
            stripePublishableKey: "{{stripe_publishable_key}}",
            datadogApplicationId: "{{datadog_application_id}}",
            datadogClientToken: "{{datadog_client_token}}",
        };
    </script>

{% if analytics_enabled %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MPC4B957');</script>
    <!-- End Google Tag Manager -->
{% endif %}

    <!-- Google Fonts (Inter, Quicksand) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link id="global-font-src" href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <!-- End Google Fonts -->

    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="{{asset_base}}/images/vivial-logo.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Vivial: plans without planning." />
    <title>{{ page_title|default("Vivial") }}</title>

    <script defer src="{{asset_base}}/dist/main.js"></script>
</head>

<body>
{% if analytics_enabled %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MPC4B957"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
{% endif %}

    <div id="root"></div>
</body>

</html>