.venv
.env*
__pycache__
.mypy_cache
.ruff_cache
.pytest_cache
.*_cache
node_modules
*.egg-info
build
.build
.cloudsqlproxy
*.tgz
yalc.lock
.DS_Store
*.log*
.swc

# directories that are git-ignored, and then un-ignored for deployment (gcloudignore)
dist
.yalc
vendor
