.venv
.env*
__pycache__
.mypy_cache
.ruff_cache
node_modules
*.egg-info
build/
.build
.cloudsqlproxy
yalc.lock
.DS_Store
*.log*

# directories that are git-ignored, and then un-ignored for deployment (gcloudignore)
dist/
.yalc
vendor/