.env*
.venv
__pycache__
.mypy_cache
.ruff_cache
.pytest_cache
.*_cache
node_modules
*.egg-info
build
.build
.cloudsqlproxy
*.tgz
yalc.lock
.DS_Store
*.log*
.swc
credentials.json
.coverage
.tmp
.terraform*
yalc.lock
.yalc
dist
vendor
.vscode
generated