# Requirements that are only installed and used during local development or in CI.

-e ${EAVE_HOME}/libs/eave-stdlib-py
-e ${EAVE_HOME}/develop/python

grpcio-tools
protobuf
pyright
ruff
httpx
python-dotenv[cli]
pytest
pytest-cov
coverage
pretty_errors
types-requests
types-redis
types-protobuf
mitmproxy==10.1.1
click
alembic
toml
uvicorn[standard]
fakeredis
