# Requirements that are only installed and used during local development or in CI.

-e ${EAVE_HOME}/libs/eave-pubsub-schemas/python
-e ${EAVE_HOME}/libs/eave-stdlib-py
-e ${EAVE_HOME}/develop/python

# -e ${EAVE_HOME}/packages/python/eave-collector-aiohttp-py
-e ${EAVE_HOME}/packages/python/eave-collector-core-py
# -e ${EAVE_HOME}/packages/python/eave-collector-flask-py
# -e ${EAVE_HOME}/packages/python/eave-collector-func-py
# -e ${EAVE_HOME}/packages/python/eave-collector-network-py
-e ${EAVE_HOME}/packages/python/eave-collector-asyncpg-py
-e ${EAVE_HOME}/packages/python/eave-collector-sqlalchemy-py
-e ${EAVE_HOME}/packages/python/eave-collector-starlette-py

grpcio-tools
protobuf
pyright
ruff
httpx
python-dotenv[cli]
pytest
coverage
pretty_errors
types-requests
types-redis
types-protobuf
mitmproxy==10.1.1
click
alembic
toml
uvicorn