<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polls dummy app</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <!-- Eave client tracing -->
    <!-- <script>
      var _settings = window._settings = window._settings || [];
      // _settings.push(["setEaveClientId", "dummy_client_id"]);
      (function() {
        // TODO: update script location
        var scriptHostLocation = "cdn/eave-client.min.js";
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=scriptHostLocation; s.parentNode.insertBefore(g,s);
      })();
    </script> -->
    <!-- End Eave client tracing Code -->
</head>
<body>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
