# [tool.coverage.report]
# This is disabled because it breaks the VSCode integration
# include_namespace_packages = true

[tool.coverage.run]
# Note: The default data_file (.coverage) must be used because VSCode uses it.
branch = true
dynamic_context = "test_function"
concurrency = ["greenlet"]
omit = [
  "*/tests/*",
]

[tool.coverage.xml]
output = ".coverage-reports/coverage.xml"

[tool.coverage.html]
directory = ".coverage-reports/coverage_html"
show_contexts = true
