#!include:.gitignore
!/eave/marketing/static/dist
!/vendor

.*
*.md
webpack.config*
bin
tests
eave/marketing/js
requirements-dev.txt
requirements-vendor.txt
pyproject.toml
node_modules
package.json
package-lock.json