#!include:.gitignore
!/eave_marketing/static/dist

.*
*.md
webpack.config*
bin
tests
eave_marketing/js
requirements-dev.txt
requirements-vendor.txt
pyproject.toml
node_modules
package.json
package-lock.json