atlassian-python-api
fastapi
uvicorn[standard]
gunicorn
sqlalchemy[asyncio]>=2.*
asyncpg
slack_sdk
aiohttp
email-validator
openai
tiktoken
google-cloud-secret-manager
google-crc32c
google-cloud-logging
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-pubsub
google-cloud-kms