uvicorn[standard]==0.32.1
gunicorn==23.0.0
SQLAlchemy[asyncio]==2.0.36
GeoAlchemy2==0.15.2
shapely==2.0.6
asyncpg==0.30.0
slack-sdk==3.33.5
aiohttp==3.11.0
google-cloud-logging==3.11.0
google-maps-places==0.1.19
google-maps-routing==0.6.13
starlette==0.41.3
asgiref @ git+https://github.com/django/asgiref@7c8d31c05957bd644f9cead04206f11a0011c3d4
cryptography==41.0.7
strawberry-graphql[asgi,cli]==0.256.1
stripe==11.3.0
googlemaps==4.10.0
