uvicorn[standard]
gunicorn
SQLAlchemy[asyncio]
GeoAlchemy2==0.15.*
shapely==2.0.*
asyncpg
slack-sdk
aiohttp
google-cloud-logging==3.11.0
google-maps-places==0.1.19
google-maps-routing
starlette
asgiref @ git+https://github.com/django/asgiref@7c8d31c05957bd644f9cead04206f11a0011c3d4
cryptography
strawberry-graphql[asgi,cli]
stripe
googlemaps