[tool.black]
extend-exclude = '''
(
  eave_alembic/versions
  | generated
  | \\.venv
  | node_modules
)
'''
line-length = 120

[tool.isort]
profile = "black"
skip_gitignore = true
extend_skip = [
  "eave_alembic/versions",
  "generated",
  "node_modules",
  ".venv",
]

[tool.mypy]
exclude = [
  "eave_alembic/versions",
  "generated",
  "node_modules",
  ".venv",
]
warn_unused_ignores = true
warn_redundant_casts = true
warn_return_any = true
warn_unreachable = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
disallow_any_explicit = false
disallow_any_generics = true
disallow_subclassing_any = false
ignore_missing_imports = true
namespace_packages = true
explicit_package_bases = true
