[tool.black]
extend-exclude = '''
(
  eave_alembic/versions
  | generated
  | \\.git
  | \\.venv
  | vendor
  | node_modules
  | __pycache__
  | \\.mypy_cache
  | build
)
'''
line-length = 120

[tool.isort]
profile = "black"
skip_gitignore = true
extend_skip = [
  "eave_alembic/versions",
  "generated",
  ".git",
  ".venv",
  "vendor",
  "node_modules",
  "__pycache__",
  ".mypy_cache",
  "build",
]

[tool.mypy]
exclude = [
  "eave_alembic/versions",
  "generated",
  ".git",
  ".venv",
  "vendor",
  "node_modules",
  "__pycache__",
  ".mypy_cache",
  "build",
]
warn_unused_ignores = true
warn_redundant_casts = true
warn_return_any = true
warn_unreachable = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
disallow_any_explicit = false
disallow_any_generics = true
disallow_subclassing_any = false
ignore_missing_imports = true
namespace_packages = true
explicit_package_bases = true
enable_incomplete_feature = "Unpack"

[tool.autoflake]
exclude = [
  "./eave_alembic/versions",
  "vendor",
  "build",
  "generated",
  "node_modules",
]
remove-all-unused-imports = true
recursive = true
quiet = true

[tool.pytest.ini_options]
pythonpath = [
  "../../apps/core",
  "../../apps/slack",
  "../../apps/marketing",
  "../../libs/eave-stdlib-py"
]
norecursedirs = [
  ".git",
  ".venv",
  "vendor",
  "node_modules",
  "__pycache__",
  ".mypy_cache",
  "build",
]
showlocals = true