.button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049;
}

.redbutton {
  background-color: darkred;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.redbutton:hover {
  background-color: rgb(198, 0, 0);
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box; /* Ensures padding and border are included in width */
}

.input:focus {
  outline: none;
  border-color: #007bff; /* Change border color when input is focused */
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

.list {
  list-style-type: none;
  padding: 0;
}

.item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
  font-size: 16px;
}

/* LoadingIndicator.module.css */

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust height as needed */
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.header {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}
